.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  font-family: euclid square;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 4rem;
  margin: 0 auto;
}
/*header or main nav*/
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3.2rem;
  background-color: #10239E;
  box-sizing: border-box;
}
.logo a{
  height: 6.4rem;
  width: 3.6rem;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}
.btn{
  display: flex;
  gap: 8px;
}
 .login{
  padding:  0.3rem 1rem 0.3rem 1rem;;
  margin-right: 0.6rem;
  background-color: #2E54EA;
  color: white;
  border: 1px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 2px;
  font-weight: 400;
  line-height: 22px;
}
.signup{
  padding: 0.3rem 1rem 0.3rem 1rem;
  margin-right: 0.6rem;
  background-color: white;
  color: black;
  border: 1px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 2px;
  font-weight: 400;
  line-height: 22px;
}
/*hero-section*/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero{
  max-width: 130rem;
  margin: 4.8rem auto;
  padding: 0 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  align-items: center;
}
.heading-primary{
  margin-top: 6rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 64px;
}
span{
  background: linear-gradient( #9956EB
  ,#597EF7 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
strong{
  font-weight: 700;
  font-size: 1.25rem;
}
/* .arrow{
 font-size: 2rem;
 font-weight: 700;
 font-style: bold;
} */
.hero-description {
  font-size: 1.25rem;
  line-height: 28px;
  margin-bottom: 5rem;
  margin-top: 1.2rem;
  color: rgb(59, 55, 55);
  font-weight: 500;
}

.hero-img {
  width: 31rem;
  height: 31rem;
  margin-top: 0;
}
.btn-hero,
.btn-hero:link,
.btn-hero:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 1rem 1.5rem  1rem 1.5rem;
  border-radius: 10px;
  line-height: 28px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin-right: 1.6rem;
}
.btn--full:link,
.btn--full:visited {
  background-color: #2E54EA;
  color: #fff;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #F0F5FF;
  color: #2E54EA;
}

/*how it works section*/
.how-it-works{
  background-color: #F6F7F9;
  padding: 6.4rem 3rem;
}
.grid {
  display: grid;
  /* column-gap: 1.2rem;
  row-gap: 2rem; */
  gap: 1.8rem;
}

/* .grid:not(:last-child) {
  margin-bottom: 9.6rem;
} */
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.subheading {
  display: block;
  font-size: 1.06rem;
  font-weight: 600;
  color: #2E54EA;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  letter-spacing: 0.75px;
  line-height: 28px;
  letter-spacing: 10%;
}
.heading-secondary{
  font-size: 2.25rem;
  font-weight: 400;
  color: #000000;
  letter-spacing: -0.5px;
  margin-bottom: 1.6rem;
  line-height: 50px;
}
.user-para{
  color: #595959;
  margin-bottom: 3.2rem;
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 24px;
}
.user-profiles {
  box-shadow: 0  3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  /* display: inline-block; */
  background-color: #fff;
 
}

.profile{
  padding: 1.2rem;
}
.profile h2{
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 31px;
  color: #000000;
}

.profile-content{
  color: black;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
  line-height: 28px;
}
.remove-shadow{
  /* box-shadow: 0  3.2rem 6.4rem rgba(0, 0, 0, 0.6); */
  /* box-shadow: 0 -9.6rem 6.4rem rgba(0, 0, 0, 0.09); */
  /* box-shadow: none; */
  /* box-shadow: 0 0.10 0.2rem rgba(0, 0, 0, 0.6); */
  background: linear-gradient( rgba(246, 247, 249, 1) 0%, rgba(246, 247, 249, 0)100%);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 50%;
}

.heading-blur{
  color: #ced4da;
  font-weight: 700;
}
.seemore .link {
  display: inline-block; 
  padding: 5px 10px;
  border: 1px solid #2E54EA  ; 
  border-radius: 4px; 
  text-decoration: none; 
  color: #2E54EA; 
  font-weight: 500; 
  text-align: center;
  font-size: 1.25rem;
  margin-top: 1.8rem;
margin-left: 520px;
line-height: 28px;
}

/*section-customers*/
.section-customers {
  padding: 9.6rem 3rem;
}
.customer{
  box-shadow: 0 1.6rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 8px;
  overflow: hidden;
  /* transition: all 0.4s; */
  height: 32.31rem;
  width: 20.68rem;
  display: inline-block;
}
.customer-content {
  padding: 1rem 1.2rem;
}

.customer-tags {
  margin-bottom: 1rem;
  /* display: flex;
  gap: 0.2rem; */
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 26px;
  color: #000000;
}

.customer-title{
  margin-bottom: 1rem;
  color: #595959;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}
.customer-img {
  width: 22.68rem;
  height: 12.45rem;
  opacity: 50%;
}
.all-content {
  /* font-size: 9rem;
  font-weight: 500; */
  margin-bottom: 0.5rem ;
  margin-left: 2rem;
}
.link{
  border: none;
  text-decoration: none;
  color: #2E54EA;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 28px;
}
/*features-section*/
.features{
  /* height: 71.9px; */
}
.logos {
  display: flex;
  animation: scroll 20s linear infinite;
  margin-top: 6.4rem;
  justify-content: space-between;
  height: 71.9px;
}

.logos img {
  height: 4.37rem;
  width: 4.43rem;
  margin: 0 15px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 7));
  }
}

/*section-category*/
.section-category {
  background-color: #F6F7F9;
  /* padding: 4.8rem 3.2rem 3.2rem 3.2rem; */
  padding: 9.6rem 3rem;
}
.categories{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 1.2rem;
/* padding: 3rem; */
justify-content: center;
align-items: center;
}
.category{
  height: 146px;
  width:272px ;
  background-color: white;
  /* box-shadow: 0 0 10px rgba(10, 10, 10, 0.1); */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  border-radius: 20px;
  border: 1px solid #F6F7F9;
  background-color: #FFFFFF;
  /* padding: 0.5rem; */
  text-align: center;
}
.cat-img{
  padding: 4.01px, 18.05px;
  width: 116px;
  /* font-weight: 900; */
  height: 40px;
/* padding: 0.4rem,0.4rem; */
 text-align: center;
 margin-top: 54.62px;
}
/* .shopify{
  height: 8rem;
  width: 9rem;
} */

/*expert-section*/
.expert{
  text-align: center;
  margin: 9.6rem 0;
}
.expert-heading{
  margin-bottom: 1.8rem;
  font-size: 4rem;
}
.expert-desc{
  font-weight: 500;
  color: #595959;
  margin-bottom: 4rem;
}
/*footer*/

.footer {
  /* padding: 2rem 2rem; */
  border-top: 1px solid #eee;
  background-color: hsl(240, 22%, 19%);
  line-height: 1.6;
}

.grid--footer {
  grid-template-columns:  1fr 1fr 1fr;
}
.navigation{
  margin-left: 3rem;
  margin-top: 4rem;
}
.footer-heading{
  /* margin-left: 2rem; */
  color: white;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 0.8rem;
  margin-top: 1.2rem;
}
.middle-grid{
margin-top: 6rem;
text-align: center;
}
.faded{
opacity: 15%;
}
.last-grid{
  margin-left: 7rem;
  margin-top: 4rem;
}
.footer-link{
  color: white;
}
/* .footer-logo .logo{
  height: 0.9rem;
  width: 0.5rem;
} */

.social-icon {
  height: 1.6rem;
  width: 1.6rem;
  margin-bottom: 1rem;
}
.copyright{
  text-align: center;
  color: white;
  opacity: 10%;
 padding-bottom: 1rem;
}
